@media (max-width: 768px) {
    .port-folio {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .navtxt{
        visibility: visible;
    }
    .nav-links,
    .service-section {
        display: none;
    }
    /* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
a{
    text-decoration: none;
}

.nav-bar .nav-links.open {
    display: none;
}
   .icons-one, .Cv-btn {
        gap: 20px;
        display: flex;
        pointer-events: auto;
    }

    .nav-bar {
        width: 100%;
        height: 60px;
    }
    
    .options-btn {
        padding: 0px 50px 0px 0px;
        visibility: visible;
        font-size: 45px;
        color: grey;
    }
    #btn-home{
        background-color: #00abf0;
        color:#FCF9D9;
        width:120px;
        height: 50px;
        margin-top: 0%;
        margin-left: 35%;
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 1.4rem;
    }
    #btn-head{
        text-shadow: 2px 2px 10px rgba(0, 197, 205, 0.8);
        font-size: 1.4rem;
        margin: 0px 0px 0px 5px;
        color: #00abf0;
        font-weight:bold;
    }
    .btn-text{
        text-align: center;
        color: #FEFCFF;
        height: 80px;
        background-color: black;
        font-weight: 100;
        font-size: 0.8rem;
        text-shadow:none;
        text-align: center;
    }
    .herosection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px 0px 40px 0px;
    }

    .my-image {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 60px 0px 0px 0px;
    }

    .port-txt {
        text-align: center;
        margin: 0%;
        font-weight: bold;
    }

    .herotext {
        margin: 5px;
    }

    .icons-one {
        display: flex;
        justify-content: center;
        margin: 10px;
        gap: 45px;
    }

    .Cv-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .heading-section {
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
    }

    .boxcart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    .exptext {
        width: 90%;
        margin: 20px;
        font-weight: bold;
        line-height: 1.3;
    }

    .contact-form {
        width: 90%;
    }

    .loader-container {
        width: 56vw;
        height: 56vw;
    }

    .loader {
        border: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 8px solid #00abf0;
        width: 54vw; 
        height:  54vw;
    }
}

@media (max-width: 300px) {
    html {
        overflow: auto;
    }
    .nav-bar {
        padding: 10px 15px;
    }
}
